* {
  margin: 0;
  padding: 0;
}

.firstContainer {
  width: 100%;
  height: 180vh;
  color: white;
  background-color: #022f4a;
  z-index: 9999;
}
.mainSection {
  position: relative;
  display: flex;
  top: 16rem;
  gap: 1.2rem;
  padding-left: 7.8rem;
  padding-right: 7.8rem;
}

.mainHeading h1 {
  position: relative;
  top: 10.2rem;
  font-size: 3.39rem;
  padding-left: 7.3rem;
  z-index: 999;
}

/*scroller css*/

.movingStrip {
  position: relative;
  top: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  background-color: #48c51c;
  padding: 10px 0;
}

.stripContent {
  display: inline-block;
  animation: moveLeft 50s linear infinite;
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

.languageName {
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
.bullet {
  height: 8px;
  width: 8px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}
.content {
  position: relative;
  padding-left: 7.68rem;
  padding-top: 23.32rem;
}
.content img {
  position: relative;
  padding-left: 22rem;
}
/*second component*/

.secondContainer {
  background-color: #f4f4f4;
  padding-top: 7rem;
  height: 100vh;
}
.secondContainer b {
  position: relative;
  color: #c9cbcb;
  padding-left: 14.45rem;
  font-size: 1.4rem;
  bottom: 2.4rem;
}
.secondContainer h1 {
  padding-left: 14.45rem;
  padding-top: -3rem;
  font-weight: bold;
  font-size: 3rem;
}
.cardSlider {
  display: flex;
  padding-top: 4.3rem;
  flex-direction: column;
  align-items: center;
}
.blueText {
  color: #007bff;
}


.cardContainer {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #f4f4f4;
  gap: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
.transition {
  transition: transform 0.5s ease;
}

.card {
  flex: 0 0 33.33%;
  height: 300px;
  width: 100px;
  border: 2px solid #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  scroll-behavior: smooth;
  background-color: white;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.toggleButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

button {
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

button:hover {
  color: #333;
}

.card h2 {
  position: relative;
  right: 7.3rem;
  bottom: 2.4rem;
  color: #333333;
  font-size: 24px;
}

.card p {
  font-size: 26px;
  margin-top: 10px;
  padding-left: 19px;
  font-weight: 600;
}

.card button {
  position: relative;
  color: #007bff;
  border: none;
  top: 2rem;
  right: 10.2rem;
  font-size: 1rem;
  border-radius: 4px;
  padding: 8px 16px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button svg {
  margin-left: 5px;
}

.iconClass {
  position: relative;
  left: 12rem;
  bottom: 1.3rem;
}

  .leftBtn {
    position: relative;
    bottom: 10.2rem;
    right: 44.4rem;
    width: 30px;
    padding-bottom: 16px;
    height: 30px;
    border-radius: 50%; 
    background-color: white;
  }
  .rightBtn{
    position: relative;
    bottom: 11.8rem;
    left: 47.4rem;
    padding-bottom: 14px;
    padding-left: 9px;
    width: 30px;
    height: 30px;
    border-radius: 60%; 
    background-color: white;
  }
  