* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.mainContainer {
  width: 100%;
  height: 200vh;
  background-color: #f5f5f5;
  padding-left: 13.32rem;
}

.paragraph {
  width: 22rem;
  font-family: sans-serif;
  color: #a7b2b8;
  display: flex;
  flex-direction: column;
}
.signupBtn button {
  position: relative;
  bottom: 96px;
  background-color: #0979ed;
  border: none;
  height: 39.45px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 140px;
}
.footerElements footer {
  display: flex;
}
.footerElements {
  display: flex;
  position: relative;
  bottom: 52.61rem;
  left: 26.12rem;
}
.heading {
  padding-top: 5.21rem;
  font-size: 1.44rem;
  padding-bottom: 8.67rem;
}
.heading h1 {
  font-size: 3.2rem;
  font-weight: 600;
}
.section ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #0979ed;
}
.section h2 {
  font-size: 17px;
}
ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
li {
  font-weight: 550;
}
address {
  color: #a7b2b8;
}
.logo {
  padding-bottom: 16px;
}
.container p {
  color: #a7b2b8;
}
.container h4 {
  padding-bottom: 0.8rem;
}
.socials ul {
  display: flex;
  flex-direction: row;
  padding-top: 12px;
}
/*                                            Mobile Responsive                       */

@media only screen and (max-width: 767px) {
  * {
    background-color: #f5f5f5;
  }
  body,
  html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #f5f5f5;
  }

  .mainContainer {
    padding-left: 2rem;
  }
  .footer {
    overflow: hidden;
    position: absolute;
    top: 57.6rem;
    right: 31rem;
    display: flex;
    flex-direction: column;
  }
  /* Responsive styles for heading */
  .heading {
    padding-top: 2rem;
    font-size: 1rem;
    text-align: center;
  }
  ul {
    font-size: 1rem;
  }
  body {
    margin: 0; /* Reset default body margin */
  }

  .container {
    padding: 0; /* Reset padding on the container if necessary */
  }

  .section h2 {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    font-size: 1.2rem;
  }
  /* Responsive styles for heading h1 */
  .heading h1 {
    position: relative;
    right: 4.24rem;
    font-size: 2.24rem;
    font-weight: 600;
  }
  .signupBtn {
    display: none;
  }
  .paragraph {
    font-size: 18px; /* Decrease font size for smaller screens */
    max-width: 120ch; /* Set maximum width in characters for better line length control */
    line-height: 1.6; /* Increase line height slightly for better readability */
    margin: 0; /* Center the paragraph */
  }
}
